- key = Rails.application.config.session_options[:key]

= content_for :scripts do
  <script src="/assets/uploadify.js" type="text/javascript"></script>
  :javascript
    var upload_params = {
      '#{key}' : '#{cookies[key]}',
      '#{request_forgery_protection_token}' : '#{form_authenticity_token}',
      '_http_accept': 'application/javascript'
    };
    var url = $('input#photo_image').attr('rel');
    $('input#photo_image').uploadify({
      'uploader'     : '/assets/uploadify.swf',
      'script'       : url,
      'fileDataName' : 'photo[image]',
      'fileExt'      : '*.png;*.jpg;*.gif',
      'cancelImg'    : '/images/cancel.png',
      'multi'        : true,
      'scriptData'   : upload_params,
      'auto'         : true,
      'onComplete'   : function(e, id, obj, response, data) {
        $('#photos').append(response);
      }
    });

#photos
  = render :partial => 'photos/photo', :collection => @gallery.photos
  - unless @gallery.new_record?
    = fields_for Photo.new do |f|
      = f.file_field :image, :rel => gallery_photos_path(@gallery)
