<h2><%= @gallery.title %></h2>
<section class="byline">Uploaded by <%= @gallery.user.name %>

<%= markdown @gallery.description %>

<section id="comments">
  <h3>Comments</h3>
	<% if @post.comments.blank? %>
		<p>This post has no comments</p>
	<% end %>
  <%= render :partial => 'layouts/comment', :collection => @post.comments %>
  <%= render :partial => 'layouts/new_comment', :locals => {:type => "post"} %> 
</section>
